{%- assign currency = cart.attributes._currency | downcase | prepend: '_' | default: '_usd' -%}
{%- if cart.attributes._currency == 'USD' -%}
   {% assign shop_url = 'https://mc-rian-us.myshopify.com' -%}
{%- elsif cart.attributes._currency == 'GBP' -%}
   {%- assign shop_url = 'https://mc-rian-uk.myshopify.com' -%}
{%- endif -%}
{%- assign addurl = shop_url | append: '/pages/reorder?' -%}
{%- for line in cart.items -%}
   {%- capture addurl -%}{{ addurl }}{%- unless forloop.first == true -%}&{%- endunless
-%}items[{{ line.variant.metafields[currency].variant_id }}][quantity]={{ line.quantity }}{%- for
property in line.properties -%}&items[{{ line.variant.metafields[currency].variant_id }}][{{
property.first | url_escape }}]={{ property.last | url_escape }}{%- endfor -%}{%- endcapture -%}
{%- endfor -%}
{%- if cart.attributes._currency == 'USD' or cart.attributes._currency == blank  -%}
   {{ '/checkout' }}
{%- else -%}
 {{ addurl }}
{%- endif -%}
