<ul>
 <li data-currency="USD">USD</li>
 <li data-currency="GBP">GBP</li>
</ul>

{% comment %} 
{% if settings.show-multiple-currencies %}
{% capture codes %}USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK{% endcapture %}
{% assign supported_codes = settings.supported-currencies | remove: ',' | split: ' ' %}

<li class="currency-picker">
  <a href="#" id="current-currency">{% if settings.currency-switcher-position == 'footer-navbar' %}{{ 'currency.all-prices-in' | t }} {% endif %}<span class="selected-currency">{{ shop.currency }}</span></a>
  <form id="currencies-picker" class="navbar-form" style="display:none;">
    <div class="form-group">
      <select id="currencies" class="form-control" name="currencies">
        <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
        {% for code in supported_codes %}
        {% if code != shop.currency and codes contains code %}
        <option value="{{ code }}">{{ code }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </form>
</li>
{% endif %} {% endcomment %}