<span class="money" itemprop="price">
    {% if price_fields %}
        {% include 'multi-currency--variant-price-display' with currency: cart.attributes._currency, price_fields %}
    {% else %} {% comment %} OLD CODE AS FALL BACK {% endcomment %}
        {% include 'multi-currency--one-price-display' with price %}
    {% endif %}
</span>
{% if settings.append-plus-taxes-to-price %}
    <small class="text-muted"> {% include '__localize' with 'plus taxes' %}</small>
{% endif %}
 