{% if currency == 'EUR' %}
     €{{ price_fields._eur.price | money_without_currency }}
{% elsif currency == 'USD' %}
     ${{ price_fields._usd.price | money_without_currency }}
{% else %}
    £{{ price_fields._gbp.price | money_without_currency}}
{% endif %}
{{ currency }} 