{% if currency == 'GBP' %}
   £{{ uk_subtotal | money_without_currency }}
{% elsif currency == 'USD' %}
   €{{ us_subtotal | money_without_currency }}
{% else %}
  price_display.liquid not working correctly line 6 {{ us_subtotal | money }}
{% endif %}
{{ currency }}