{% raw %}
   <script id="template_line_item_info" type="x-tmpl-mustache">
       <tr id="{{ item_id }}">
           <td class="product">
               <a href="/products/{{ item_title }}">{{ item_name }} </a>
               {{# item_fulfilled_date }}
               <div class="note">
                   Fulfilled {{ item_fulfilled_date }}
                   {{# item_tracking_number }}
                   <a href="{{ item_tracking_url }}">{{ item_fulfilled_company}} #{{
item_tracking_number}}</a>
                   {{/ item_tracking_number }}
                   {{# line_item.variant.metafields.dda.digital }}
                       (<a
href="https://transactions.sendowl.com/orders/shopify_return/28517?order_id={{ order.id
}}&email={{ order.email }}">download here</a>)
                   {{/ line_item.variant.metafields.dda.digital }}
</div>
               {{/ item_fulfilled_date }}
           </td>
           <td class="sku note">{{ item_sku }}</td>
           <td class="quantity">{{ item_quantity }}</td>
           <td class="money">{{ item_price }}</td>
           <td class="total money">{{ item_total}}</td>
       </tr>
   </script>
{% endraw %}