{% raw %}
   <script id="template_discount_info" type="x-tmpl-mustache">
       <tr class="order_summary discount">
           <td colspan="4">{{ discount_code }} Discount:</td>
                   <td class="total money">{{ discount_amount }}</td>
       </tr>
   </script>
{% endraw %}