{% raw %}
   <script id="template_order_details" type="x-tmpl-mustache">
       <div class="order">
           <h3>Order {{ order_name }}</h3>
           <p class="order_date">Placed on {{ order_date }}</p>
           {{# cancelled_order}}
           <div id="order_cancelled" class="alert alert-warning">
               <h5 id="order_cancelled_title">Order Cancelled <span class="note">on {{
order_cancelled_at }}</span></h5>
               <span class="note">{{ order_cancel_reason }}</span>
           </div>
           {{/ cancelled_order}}
           <div class="well order-address">
               <div class="row">
                   <div class="order-billing col col-md-6">
                       <h4 class="order_section_title">Billing Address</h4>
                       <p><strong>Payment Status:</strong> <span class="status_{{ order_payment
}}">{{ order_payment }}</span></p>
                       <address>
                           {{ billing_address_name }}<br>
                           {{ billing_address_company }}<br>
                           {{ billing_address_street }}<br>
                           {{ billing_address_city }}, {{ billing_address_province }}<br>
                           {{ billing_address_country }} {{ billing_address_zip }}<br>
                           {{ billing_address_phone }}
                       </address>
                   </div>
                   <div class="order_shipping col col-md-6">
                       {{# has_shipping_address}}
                       <h4 class="order_section_title">Shipping Address</h4>
                       <p><strong>Fulfillment Status:</strong> <span class="status_{{
order_status }}">{{ order_status }}</span></p>
                       <address>
                           {{ shipping_address_name }}<br>
                           {{ shipping_address_company }}<br>
                           {{ shipping_address_street }}<br>
                           {{ shipping_address_city }}, {{ shipping_address_province }}<br>
                           {{ shipping_address_country }} {{ shipping_address_zip }}<br>
                                                                                                          {{ shipping_address_phone }}
                       </address>
                       {{/ has_shipping_address}}
                   </div>
               </div>
           </div>
           <div class="order-details table-responsive">
               <table class="table">
<thead> <tr>
                           <th>Product</th>
                           <th>SKU</th>
                           <th>Quantity</th>
                           <th class="money">Price</th>
                           <th class="total money">Total</th>
                       </tr>
                   </thead>
                   <tbody id="line_item_info_section" >
                       {{{ items_info }}}
</tbody>
                   <tfoot>
                       <tr class="order_summary note">
                           <td colspan="4">Subtotal:</td>
                           <td class="total money">{{ order_subtotal }}</td>
                       </tr>
                       {{{ discounts_info }}}
                       {{{ shipping_info }}}
                       {{{ taxes_info }}}
                       <tr class="order_summary order_total">
                           <td colspan="4">Total:</td>
                           <td class="total money">{{ order_total }}</td>
                       </tr>
                   </tfoot>
               </table>
           </div>
       </div><!--END OF ORDER CLASS DIV>
   </script>
{% endraw %}
                                                                                 