{% raw %}
   <script id="template_tax_info" type="x-tmpl-mustache">
       <tr class="order_summary note">
           <td colspan="4">Tax ({{ tax_line_title }} {{ tax_line_rate }}%):</td>
           <td class="total money">{{ tax_line_price }}</td>
       </tr>
   </script>
{% endraw %}