{% raw %}
   <script id="template_shipment_info" type="x-tmpl-mustache">
       <tr class="order_summary note">
           <td colspan="4">Shipping ({{ shipment_title }}):</td>
           <td class="total money">{{ shipment_price }}</td>
       </tr>
   </script>
{% endraw %}