{% if currency == 'GBP' %}
   £{{ price_fields._gbp.price | money_without_currency }}
{% elsif currency == 'USD' %}
   €{{ price_fields._usd.price | money_without_currency }}   
{% elsif currency == 'EUR' %}
   €{{ price_fields._eur.price | money_without_currency }}
{% elsif currency == 'AUD' %}
   ${{ price_fields._aud.price | money_without_currency }}
{% else %}
   {{ default_price | money }}
{% endif %}
{{ currency }}