<!-- MUSTACHE TEMPLATES -->

{% include 'template_order_details' %}
{% include 'template_line_item_info' %}
{% include 'template_discount_info' %}
{% include 'template_shipment_info' %}
{% include 'template_tax_info' %}


<section id="account" class="section-wrap">
{% include '__containers-open' %}
<div id="admin_header">
  <h1 class="page-header">Account Details and Order History</h1>
</div>

<div id="customer_details">
  <div class="well">
    <h4>{{ customer.name }}</h4>
    <dl class="dl-horizontal-left">
      <dt>Email:</dt>
      <dd>{{ customer.email }}</dd>
      <dt>Default Phone:</dt>
      <dd>{% if customer.default_address.phone %}{{ customer.default_address.phone }}{% else %}<span class="text-muted">No default phone number set</span>{% endif %}</dd>
      <dt>Default Address:</dt>
      <dd>
        {% if customer.default_address != nil %}
        <adddress>
          {{ customer.default_address.address1 }}<br>
          {% if customer.default_address.address2 != "" %}{{ customer.default_address.address2 }}<br>{% endif %}
          {{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}<br>
          {{ customer.default_address.zip}}<br>
        </adddress>
        {% else %}
          <span class="text-muted">No default address set</span><br>
        {% endif %}
        <a id="view_address" href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>
      </dd>
    </dl>
  </div>
</div>

<div id="customer_orders">
  <h3>Orders</h3>

  {% if customer.orders.size != 0 %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="order_number">Order</th>
          <th class="date">Date</th>
          <th class="payment_status">Payment Status</th>
          <th class="fulfillment_status">Fulfillment Status</th>
          <th class="total">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order danger{% endif %}">
          <td>{{ order.name | link_to: order.customer_url }}</td>
          <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
          <td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
          <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
          <td><span class="total money">{{ order.total_price | money }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <div class="alert alert-info"><i class="fa fa-info-circle"></i> You haven't placed any orders yet.</div>
  {% endif %}
</div>
{% include '__containers-close' %}
</section>



<script type="text/javascript">
   $(function(){
       var orders_info = "";
       var order_name = "";
       var order_id = "";
       var order_date = "";
       var order_payment = "";
       var order_status = "";
       var order_total = "";
       var order_currency = "";
       var danger_style = "";
       $.get('/apps/olm-api/orders', { email:'{{customer_email}}'}).then(function(orders){
           orders_info = orders;
           if(orders_info.length == 0 ) {
               $('#no_order_block').removeClass("hide");
           }
           else {
               $('#orders_block').removeClass("hide");
               for (i = 0; i < orders.length; i++) {
                   order_name = orders[i].name;
                      danger";
order_id = orders[i].id;
order_date = formatShortDate(new Date(orders[i].created_at));
danger_style = orders_info[i].cancelled_at == null ? "" : "cancelled_order
order_payment = orders[i].financial_status;
                       order_status = orders[i].fulfillment_status == null ? "unfulfilled" :
orders[i].fulfillment_status;
                   order_currency = orders[i].currency;
                   order_total =  displayMoneyWithCurrency(orders[i].total_price,
order_currency);
                   $('.orders_table').append(getAllCustomerOrders());
               }
} });
       // Extra variables used to render order page
       var order_cancel_reason = "";
       var order_cancelled_at = "";
       var order_discount_code = "";
       var order_discount_saving = "";
       var has_shipping_address = "";
       var order_shipping_method = "";
       var cancelled_order = "";
       var billing_address_name = "";
       var billing_address_company = "";
       var billing_address_street = "";
       var billing_address_city = "";
       var billing_address_province = "";
       var billing_address_country = "";
       var billing_address_zip = "";
       var billing_address_phone = "";
       var shipping_address_name = "";
       var shipping_address_company = "";
       var shipping_address_street = "";
       var shipping_address_city = "";
       var shipping_address_province = "";
       var shipping_address_country = "";
       var shipping_address_zip = "";
       var shipping_address_phone = "";
       var items_info = "";
       var item_id = "";
       var item_name = "";
  var item_url = "";
var item_fulfilled_date = "";
var item_tracking_number = "";
var item_tracking_url = "";
var item_fulfilled_company = "";
var item_dda = "";
var item_sku = "";
var item_quantity = "";
var item_price = "";
var item_total = "";
var discounts_info = "";
var discount_code = "";
var discount_amount = "";
var shipping_info = "";
var shipment_title = "";
var shipment_price = "";
var taxes_info = "";
var tax_line_title = "";
var tax_line_rate = "";
var tax_line_price = "";
var order_subtotal = "";
window.getURLParameter = function(name) {
    return decodeURIComponent(
        (new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').
        exec(location.search)||['',''])[1].replace(/\+/g, '%20'))||null;
}
var param = getURLParameter('id');
if(param != null){
    var details = "";
    $.get('/apps/olm-api/orders', { email:'{{customer_email}}'}).done(function(orders){
        details = orders;
        renderOrderPage(param);
    });
}
/* Methods that call Mustache to dynamically render order page details */
function renderOrderPage(id) {
    $("#account").hide();
    $(".hidden_order_details").show();
                                                                                         
              for (i = 0; i < details.length; i++) {
               if( orders_info[i].id == id )
               {
                   order_name = orders_info[i].name;
                   order_date = formatDetailedDate(new Date(orders_info[i].created_at));
                   cancelled_order = orders_info[i].cancelled_at == null ? false : true;
                   order_cancel_reason = orders_info[i].cancel_reason;
                   order_cancelled_at = orders_info[i].cancelled_at;
                   order_payment = orders_info[i].financial_status;
                   order_currency = orders_info[i].currency;
                   //order billing address info
                   billing_address_name = orders_info[i].billing_address.name;
                   billing_address_company = orders_info[i].billing_address.company;
                   billing_address_street = orders_info[i].billing_address.address1 + ", " +
orders_info[i].billing_address.address2;
                   billing_address_city = orders_info[i].billing_address.city;
                   billing_address_province = orders_info[i].billing_address.province;
                   billing_address_country = orders_info[i].billing_address.country;
                   billing_address_zip = orders_info[i].billing_address.zip;
                   billing_address_phone = orders_info[i].billing_address.phone;
                   //order shipping address info
                   has_shipping_address = orders_info[i].shipping_lines == null ? false : true;
                   shipping_lines = orders_info[i].shipping_lines;
                   order_shipping_method = orders_info[i].shipping_lines.title;
                   shipping_address_name = orders_info[i].shipping_address.name;
                   shipping_address_company = orders_info[i].shipping_address.company;
                   shipping_address_street = orders_info[i].shipping_address.address1 + ", " +
orders_info[i].shipping_address.address2;
                   shipping_address_city = orders_info[i].shipping_address.city;
                   shipping_address_province = orders_info[i].shipping_address.province;
                   shipping_address_country = orders_info[i].shipping_address.country;
                   shipping_address_zip = orders_info[i].shipping_address.zip;
                   shipping_address_phone = orders_info[i].shipping_address.phone;
                   //order line items parsing
                   for (item in orders_info[i].line_items)
                   {
                       //Reset reused mustache boolean fields
                       item_fulfilled_date = false;
                       item_tracking_number = false;
                                                                                       
                                 item_id = orders_info[i].line_items[item].id;
                       item_name = orders_info[i].line_items[item].name;
                       item_title = orders_info[i].line_items[item].title.replace(/ /g, '-');
                       if (orders_info[i].fulfillments.length) {
                           item_fulfilled_date = formatMonthAndDate(new
Date(orders_info[i].fulfillments[0].created_at));
                           item_tracking_number = orders_info[i].fulfillments[0].tracking_number;
                           item_tracking_url = orders_info[i].fulfillments[0].tracking_urls;
                           item_fulfilled_company =
orders_info[i].fulfillments[0].tracking_company;
                       }
                       item_dda = orders_info[i].line_items[item].title;
                       item_sku = orders_info[i].line_items[item].sku;
                       item_quantity = orders_info[i].line_items[item].quantity;
                       item_price =
displayMoneyWithCurrency(orders_info[i].line_items[item].price, order_currency);
                       item_total =
displayMoneyWithCurrency(orders_info[i].line_items[item].price * item_quantity, order_currency);
                       items_info = items_info + renderItemDetails();
                                              order_currency);
}
order_subtotal = displayMoneyWithCurrency(orders_info[i].subtotal_price,
order_discount_code = orders_info[i].discount_codes;
                       order_discount_saving =
displayMoneyWithCurrency(orders_info[i].total_discount, order_currency);
                   order_status = orders_info[i].fulfillment_status == null ? "unfulfilled" :
orders_info[i].fulfillment_status;
                   //Order discount details
                   for (discount in orders_info[i].discount_codes)
                   {
                       discount_code = orders_info[i].discount_codes[discount].code;
                       discount_amount=
displayMoneyWithCurrency(orders_info[i].discount_codes[discount].amount, order_currency);
                       discounts_info = discounts_info + renderDiscountDetails();
                   }
                   //Order shipment details
                   for (shipment in orders_info[i].shipping_lines)
                   {
                       shipment_title = orders_info[i].shipping_lines[shipment].title;
                                      
                      shipment_price =
displayMoneyWithCurrency(orders_info[i].shipping_lines[shipment].price, order_currency);
                       shipping_info = shipping_info + renderShippingDetails();
                   }
                   //Order tax details
                   for (tax_line in orders_info[i].tax_lines)
                   {
                       tax_line_title = orders_info[i].tax_lines[tax_line].title;
                       tax_line_rate = orders_info[i].tax_lines[tax_line].rate * 100;
                       tax_line_price =
displayMoneyWithCurrency(orders_info[i].tax_lines[tax_line].price, order_currency);
                       taxes_info = taxes_info + renderTaxDetails();
                                order_currency);
order_currency);
}
order_subtotal = displayMoneyWithCurrency(orders_info[i].subtotal_price,
order_total =  displayMoneyWithCurrency(orders_info[i].total_price,
                           $('#order_admin_header').append(getOrderDetails());
               }
} }
       //Helper functions for order page rendering
       function renderItemDetails() {
           var item_details = $('#template_line_item_info').html();
           Mustache.parse(item_details);
           return Mustache.render(item_details, {
               item_id, item_name, item_title,
               item_fulfilled_date, item_tracking_number, item_tracking_url,
item_fulfilled_company,
               item_dda, item_sku, item_quantity, item_price, item_total
           });
}
       function renderDiscountDetails() {
           var discount_details = $('#template_discount_info').html();
           Mustache.parse(discount_details);
           return Mustache.render(discount_details, {
               discount_code, discount_amount
           });
}
                                                 
                function renderShippingDetails() {
    var shipment_details = $('#template_shipment_info').html();
    Mustache.parse(shipment_details);
    return Mustache.render(shipment_details, {
        shipment_title, shipment_price
    });
}
function renderTaxDetails() {
    var tax_details = $('#template_tax_info').html();
    Mustache.parse(tax_details);
    return Mustache.render(tax_details, {
        tax_line_title, tax_line_rate, tax_line_price
    });
}
/* Methods that call Mustache to dynamically render across sites orders */
function getOrderDetails() {
    var order_details = $('#template_order_details').html();
    Mustache.parse(order_details);
    return Mustache.render(order_details, {
        order_name, order_date,
        cancelled_order, order_cancelled_at, order_cancel_reason,
        order_payment,order_status,
        billing_address_name, billing_address_company, billing_address_street,
        billing_address_city, billing_address_province,
        billing_address_country, billing_address_zip, billing_address_phone,
        has_shipping_address,
        shipping_address_name, shipping_address_company, shipping_address_street,
        shipping_address_city, shipping_address_province,
        shipping_address_country, shipping_address_zip, shipping_address_phone,
        items_info, discounts_info, shipping_info, taxes_info,
        order_subtotal, order_total, order_currency, order_id
    });
}
function getAllCustomerOrders() {
    var order_table_content = $('#template_order_table').html();
    Mustache.parse(order_table_content);
    return Mustache.render(order_table_content, {
        order_name, order_date, danger_style, order_payment,
        order_status, order_total, order_currency, order_id
    });
                                                                                         
  }
    /* Displays monies in appropriate format */
function displayMoneyWithCurrency(money, currency)
{
    money = parseFloat(money).toFixed(2);
    if (currency == "GBP")
        { return "£" + money + " " + currency; }
    else if (currency == "EUR")
        { return "€" + money + " " + currency; }
    else //Dollars representation USD, AU or CAD
        { return "$" + money + " " + currency; }
}
/* Methods used to format date objects
* formatMonthAndDate(date) returns "MMM DD"
* formatShortDate(date) returns "MMM DD,YYYY"
* formatDetailedDate(date) returns "Month DD,YYYY HH:MM AM/PM"
*/
function formatMonthAndDate(date) {
    var month = literalMonth(date.getMonth());
    var day = date.getDate();
    return month.substring(0,3) + " " + day;
}
function formatShortDate(date) {
    var month = literalMonth(date.getMonth());
    var day = date.getDate();
    var year = date.getFullYear();
    return month.substring(0,3) + " " + day + ", " + year;
}
function formatDetailedDate(date) {
    var month = literalMonth(date.getMonth());
    var day = date.getDate();
    var year = date.getFullYear();
    var hours = date.getHours() < 13 ? date.getHours() : date.getHours() - 12;
    var minutes = (date.getMinutes() < 10 ? '0':'') + date.getMinutes() ;
    var AM_PM = date.getHours() < 13 ? 'AM' : "PM"
    return month + " " + day + ", " + year + " " + hours + ":" + minutes + AM_PM;
}
function literalMonth(monthNumber) {
    switch (monthNumber) {
case 0:
                                                                                     
            return 'January';
    break;
case 1:
    return 'February';
    break;
case 2:
    return 'March';
    break;
case 3:
    return 'April';
    break;
case 4:
    return 'May';
    break;
case 5:
    return 'June';
    break;
case 6:
    return 'July';
    break;
case 7:
    return 'August';
    break;
case 8:
    return 'September';
    break;
case 9:
    return 'October';
    break;
case 10:
    return 'November';
    break;
case 11:
    return 'December';
    break;
default:
    return 'NAN';
                                                                          } }
   });
</script>
         