<div class="reorder-screen is-loading">
   <div class="reorder-screen__inner">
       <div class="reorder-screen__spinner">
           <div id="circularG">
               <div id="circularG_1" class="circularG"></div>
               <div id="circularG_2" class="circularG"></div>
               <div id="circularG_3" class="circularG"></div>
               <div id="circularG_4" class="circularG"></div>
               <div id="circularG_5" class="circularG"></div>
               <div id="circularG_6" class="circularG"></div>
               <div id="circularG_7" class="circularG"></div>
               <div id="circularG_8" class="circularG"></div>
           </div>
       </div>
       <div class="reorder-screen__copy">
           Processing order
       </div>
   </div>
</div>
<script>
   $(function() {
       /**
        * Helpers
        */
                                                       
  function getJsonFromUrl(keyname) {
    var query = location.search.substr(1);
    var result = {};
    query.split("&").forEach(function(part) {
        var accessor = part.split(keyname)[1].split('=');
        var value = decodeURIComponent(accessor[1]);
        var path = accessor[0].split('][').map(function(item) {
            return decodeURIComponent(item.replace(/[\[\]']/g,'' ));
        }).join('.');
        result_set(result, path, value);
    });
    return result;
}
function result_set(result, path, value) {
    var schema = result;  // a moving reference to internal objects within obj
    var pList = path.split('.');
    var len = pList.length;
    for(var i = 0; i < len-1; i++) {
        var elem = pList[i];
        if( !schema[elem] ) schema[elem] = {}
        schema = schema[elem];
}
    schema[pList[len-1]] = value;
}
/**
 * Definitions
 */
const ERROR_COPY = "Something went wrong, please try again";
const CART_URL = "https://mc-rian-us.myshopify.com/cart";
const CART_COPY = "Return To Cart";
const CHECKOUT_URL = "/checkout";
var $reorder_screen = $('.reorder-screen');
var $reorder_message = $('.reorder-screen__copy');
var param_string = getJsonFromUrl('items');
                                                                                       

                                                                                       /**
 * Callbacks
 */
var on_success = function() {
    window.location = CHECKOUT_URL;
}
var on_error = function() {
    $reorder_screen.removeClass('is-loading');
    $reorder_message.html(ERROR_COPY);
    if(CART_URL && CART_COPY) {
        $reorder_message.append('<br><a href="' + CART_URL + '">' + CART_COPY + '</a>');
} }
/**
 * Runtime
 */
if(param_string) {
    var variants = []
    $.each(param_string, function(key, value) {
        value.id = parseInt(key);
        value.quantity = parseInt(value.quantity);
        variants.push(value);
});
    var chain = $.get('/cart/clear.js');
    $.each(variants, function(key, variant) {
        chain = chain.then(function() {
            return $.get('/cart/add.js', variant);
        });
});
    chain = chain
    .done(on_success)
    .fail(on_error);
    return chain;
} else {
              on_error();
       }
   });
</script>