{% include 'theme-variables' %}

{% include 'product-page' %}

{% include 'product-vendor-description' %}

{% include 'product-footer' %}


<!-- DIFF MC CODE CURRENCY DATA -->
<script>
window.currency_converted_variants = {
 {%- for variant in product.variants -%}
   {%- assign currency_handle = currency | downcase | prepend: '_' -%}
   {%- assign currency_data = variant.metafields[currency_handle] -%}
   {%- if currency_data.price -%}
     {{ variant.id}}: { price: '{{ currency_data.price }}', compare_at_price: '{{ currency_data.compare_at_price}}' },
   {%- endif -%}
 {%- endfor -%}
 }
</script>